p {
    font-family:Arial;
}

.title {
    color: red;
    font-family: fantasy;
    text-align: center;
    font-size: 50; 
    text-shadow: 2px 2px #000000;
}
#mainbody {
    background: url(https://www.tartu.ee/sites/default/files/field/image/Pirogov_0.jpg);
    background-size: 100%;
    background-color: rgba(148, 0, 0, 0.651);
    background-blend-mode: lighten;

}
#hogan {
    position: relative;
    top: 10px;
    height: 10%;
    width: 6%;
}
.main {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 24; 
    text-shadow: 1px 1px #000000;
}
#vader { 
    position: relative;
    top: 10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    height: 10%;
    width: 6%;
}

/** HEADER */

h2 {
    color: red;
    font-size: 50;
    font-family: Impact;
}
#header {
	overflow: hidden;
    width: 800px;
    height: 100px;
	background-color: black;
}

/** PAGE */

#page {
	overflow: hidden;
    width: 900px;
    height: 500px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(90, 6, 6, 0.8);
}


.container {
	width: 900px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** CONTENT */

#content {
	float: right;
    width: 650px;
    padding-bottom: 30px;
}

/** SIDEBAR */

#sidebar {
	float: left;
    width: 250px;
}

#sidebar #sbox1 {
	margin-bottom: 40px;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: rgba(148, 0, 0, 0.651);
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	color: red;
}
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }


