p {
    font-family:Arial;
}

.title {
    color: red;
    font-family: fantasy;
    text-align: center;
    font-size: 50; 
    text-shadow: 2px 2px #000000;
}
body {
    background: url(https://www.tartu.ee/sites/default/files/field/image/Pirogov_0.jpg) no-repeat;
    background-size: 100%;
    background-color: rgb(189, 1, 1);
    background-blend-mode: lighten;
}